#newButton{
  height:1.5vw;
    background-color:rgba(80,80,80,0);
    color:black;
   border-style:solid;
    border-width:0.1vw;
  border-color:black;
  border-radius:2px;
    padding:0;
    transition:all 0.25s;
    user-select: none;
}
#newButton:hover{
    color:white;
    background-color:rgba(80,80,80,0.7);
    border-color:rgba(0,0,0,0);
}
#newButton:active{
  color:white;
    background-color:rgba(70,70,70,1);
    border-color:rgba(0,0,0,0);
}

html{
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -moz-transform: rotate(-90deg);   /* Firefox */
    -ms-transform: rotate(-90deg);   /* IE 9 */
    -o-transform: rotate(-90deg);   /* Opera */
    transform: rotate(-90deg);
  height:40px;
  user-select: none;
  background-image: url('https://cdn.glitch.global/bcd81597-8b94-49e2-aee2-81079e0ec671/paper(1).png?v=1670306442348');
}
body{
   -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg);   
    -ms-transform: rotate(90deg);  
    -o-transform: rotate(90deg);  
    transform: rotate(90deg);
   height: 100%;
  user-select: none;
   overflow-y: hidden;
   overflow-x: hidden;
 
}
h1{
  text-align:center;
  font-size:50px;
  user-select: none;
    font-family: Arial, Helvetica, sans-serif;
  
}
#WC{
  text-align:center;
  font-size:30px;
  user-select: none;
    font-family: Arial, Helvetica, sans-serif;
  
}
#paperos_log{
  width:100px; 
  user-select: none;
}
#label{
  margin-left:40vw;
  font-size:20px;
  user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
#use{
  margin-left:40vw;
  font-size:20px;
  user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
#pasn{
  margin-left:38.65vw;
  font-size:20px;
  user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
#pasnc{
  margin-left:35vw;
  font-size:20px;
  user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}
#error{
   margin-left:43vw;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}
#sub{
    margin-left:45vw;
    width:70px;
    height:50px;
  user-select: none;
    background-color:blue;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#launch{
  margin-left:-95vw;
   width:70px;
  user-select: none;
   height:70px;
  background: transparent;
    border: none !important;
}
#launch-ico, #current{
   width:70px;
  user-select: none;
  margin-left:-0.25vw;
  margin-top:-2px;
}
#menu{
  margin-top:28vw;
 background-color: grey;
  border-radius: 5px;
  border: solid 1px grey;
  width: 120px;
  height: 180px;
  position: absolute;
  left: 0px;
  user-select: none;
  padding: 10px;
  padding-bottom: 50px;
  text-align: left;
  display:none;
  font-family: Arial, Helvetica, sans-serif;
  
}
#rclickmenu{
  margin-top:28vw;
 background-color: grey;
  border-radius: 5px;
  border: solid 1px grey;
  width: 120px;
  height: 180px;
  position: absolute;
  left: 0px;
  user-select: none;
  padding: 10px;
  padding-bottom: 50px;
  text-align: left;
  display:none;
  font-family: Arial, Helvetica, sans-serif;
}
#quit{
  margin-left:0vw;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}
#window{
  user-select: none;
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  border-radius: 5px;
  display:none;
  height:200px;
    width:250px;
    top:70px;
    left:0px;
  font-family: Arial, Helvetica, sans-serif;
}
#notepad{
  user-select: none;
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  border-radius: 5px;
  display:none;
  height:200px;
    width:250px;
    top:90px;
    left:50px;
  font-family: Arial, Helvetica, sans-serif;
}
#bg{
  position: absolute;
  user-select: none;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  border-radius: 5px;
  display:none;
  height:200px;
    width:250px;
  font-family: Arial, Helvetica, sans-serif;
  top:50px;
  left:40px;
}
#file{
  position: absolute;
  user-select: none;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  border-radius: 5px;
  display:none;
  height:200px;
    width:250px;
  font-family: Arial, Helvetica, sans-serif;
  top:50px;
  left:40px;
}

#windowheader, #bgheader, #notepadheader, #fileheader {
  border-radius: 5px;
  padding: 10px;
  cursor: move;
  user-select: none;
  z-index: 10;
  background-color: lightblue;
  color: black;
  display:none;
  
  font-family: Arial, Helvetica, sans-serif;
}
#exit, #bgexit, #notepadexit, #fileexit{
  background:red;
  user-select: none;
  
}
h2, h3, h4, h5, p{
  font-family: Arial, Helvetica, sans-serif;
}
#launchbar{
  position: absolute;
  z-index: 9;
  user-select: none;
  background-color: red;
  border: 0px solid red;
  text-align: center;
  border-radius: 5px;
  height:85px;
    width:100%;
  font-family: Arial, Helvetica, sans-serif;
  top:43.7vw;
  left:-1vw;
}
#current{
  transform: rotate(-90deg);
  user-select: none;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
p{
  text-align:left;
   font-family: Arial, Helvetica, sans-serif;
  height:105px;
  
} 
[contenteditable] {
  outline: 0px solid transparent;
  user-select: all;
}
#textContain{ 
  overflow:scroll;
  user-select: none;
  height:140px;
    width:250px;
}