body{
    background-image: url('../icons/backgrounds/BG1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
html,body{
    overflow: hidden;
}
html{
    font-family: sans-serif;
    height:max-content;
}
#ruler{
    background-color:rgb(0,0,0,0.5);
    backdrop-filter: blur(6px);
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:3vw;
    z-index: 99999;
}

button{
    width:auto;
    background-color:rgba(80,80,80,0);
    color:white;
    border-width:0;
    padding:0;
    transition:all 0.25s;
    user-select: none;
}
button:hover{
    background-color:rgba(80,80,80,0.7);
    border-color:rgba(0,0,0,0);
}
button:active{
    background-color:rgba(70,70,70,1);
    border-color:rgba(0,0,0,0);
}
img{
    width:2.7vw;
    user-select: none;
}
.window{
    position:absolute;
    background-color:white;
    width:50vw;
    height:25vw;
    border-style:solid;
    border-color:rgb(74, 74, 74);
    overflow:hidden;
}
.header{
    position:sticky;
    top:0;
    z-index:2;
    color:white;
    background-color:rgb(74, 74, 74);
    width:100%;
    height:2vw;
    user-select: none;
}

.resize-handle {
    position: absolute;
    background-color: #000;
    opacity: 0;
    z-index:3;
}

.contents{
    position:sticky;
    height: calc(100% - 2vw);
    overflow: auto;
}

#resizeTop {
    top: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: ns-resize; /* North-South (top) resize cursor */
}

#resizeBottom {
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: ns-resize; /* North-South (bottom) resize cursor */
}

#resizeLeft {
    top: 0;
    left: 0px;
    width: 5px;
    height: 100%;
    cursor: ew-resize; /* East-West (left) resize cursor */
}

#resizeRight {
    top: 0;
    right: 0px;
    width: 5px;
    height: 100%;
    cursor: ew-resize; /* East-West (right) resize cursor */
}

#resizeTopLeft {
    top: -5px;
    left: -5px;
    width: 10px;
    height:10px;
    cursor: nwse-resize;
}

#resizeTopRight {
    top: -5px;
    right: -5px;
    width: 10px;
    height:10px;
    cursor: nesw-resize;
}

#resizeBottomLeft {
    bottom: -5px;
    left: -5px;
    width: 10px;
    height:10px;
    cursor: nesw-resize;
}

#resizeBottomRight {
    bottom: -5px;
    right: -5px;
    width: 10px;
    height:10px;
    cursor: nwse-resize;
}

.controlButtons{
    width:1.5vw;
}

.windowButton{
    position:absolute;
    border: none;
    width: 2vw;
    height: 2vw;
    top:0px;
    transition:all 0.25s;
    -webkit-transition:all 0.25s;
    background-color:white;
    font-size: 1.5rem;
    z-index:3;
}
.closeButton{
    right:1vw;
}
.fullscreenButton{
    right:4vw;
}
.minimizeButton{
    right:7vw;
}

.closeButton:hover {
    background-color:red;
}
.minimizeButton:hover {
    background-color:rgb(217, 255, 0);
}
.fullscreenButton:hover {
    background-color:rgb(0, 29, 135);
}
.windowButton:active{
    background-color:rgb(0, 255, 0);
}

.no-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#open{
    position:absolute;
    top:0;
    right:0;
    width:97%;
}
#overlay{
    position:absolute;
    width:100%;
    top:100%;
    left:0;
    height:100%;
    background-color:rgba(35, 35, 35, 0);
    transition:all 1s;
    z-index:9998;
}
.overlayButton{
    color:white;
    height:5vw;
    width:3vw;
    overflow: hidden;
}
#desk{
    display:grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 20px 50px;
}










/*login stuff*/
#loginPage{
    backdrop-filter: blur(6px);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:999999;
    transition:0.5s;
    overflow:hidden;
}
#password{
    bottom:10vw;
    left:50%;
    width:20vw;
    height:2vw;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    position:fixed;
    background-color:#101010;
    color:white;
    border-color:white;
    border-radius: 20px;
    outline-color:cyan;
}
#text{
    bottom:10vw;
    left:50%;
    width:20vw;
    height:2vw;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    position:fixed;
    background-color:#101010;
    color:white;
    border-color:white;
    border-radius: 20px;
    
}
#profile{

    overflow:hidden;
    background-color:#101010;
    color:white;
    border-style:solid;
    border-color:white;
    border-radius: 2000px;
    width:7vw;
    height:7vw;
}
















#rclickmenu{
    z-index:999999999;
    display:none;
    position:absolute;
    height:20vw;
    width:10vw;
    background-color:rgba(20, 20, 20, 0);
    border-radius: 1vw;
    transition: 0.5s;
    backdrop-filter: blur(6px);
}