
.warn{
    font-family: "Press Start 2P", sans-serif;
    color:rgb(255, 145, 0);
  }
  
  
  a{
  text-decoration: none;
  }
  
  
  
    .numbers {
      position: absolute;
      left: 0;
      top: 10;
      width: 30px; 
      padding: 5px;
      color:rgb(0, 119, 255);
      font-family: "Press Start 2P", sans-serif;
      pointer-events: none;
      line-height: 25px;
    }
  
    #container{
    height:51vw;
    position: relative;
    overflow:hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  #body3{
      position:absolute;
    background-color: black;
    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
    height:100%
  }
  
  @font-face { 
    font-family: press-Start-2P; src: url('press-start-2P.otf'); 
  } 
  #input{
    position:absolute;
    background-color: rgba(57, 57, 57,0);
    border-width:0;
    font-family: "Press Start 2P", sans-serif;
    color:rgb(0, 255, 0);
    outline: none;
    width:90vw;
    overflow:scroll;
  font-size: 1em;
  font-weight: bold;
  }
#name{
    font-family: "Press Start 2P", sans-serif;
    color:rgb(0, 255, 0);
  }
.error{
    font-family: "Press Start 2P", sans-serif;
    color:red;
  }
  .user_disp{
    color:rgb(0, 255, 0);
    margin:0px;
    display: inline-block;
    font-family: "Press Start 2P", sans-serif;
  
  }
  .plag{
    font-family: "Press Start 2P", sans-serif;
    float:left;
    color:rgb(0,255,0);
  }
  
  
  
  ::selection{
    color:black;
    background-color:rgb(0,255,0);
  }
  
  #controls{
  position:absolute;
  top:1vw;
  right:2vw;
  }